<div class="container">
	<div class="well">
		<center><h1><i class="icon-book"></i> NewsDaily</h1></center>
	</div>
	<h3>What would you like to read today?</h3>
	<ul class="thumbnails">
		<li class="span4">
			<div class="thumbnail">
				<center><h2>World News</h2></center>
			</div>
		</li>
		<li class="span4">
			<div class="thumbnail">
				<center><h2>Tech News</h2></center>
			</div>
		</li>
	</ul>
</div>
