// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#posts {
	height:400px;
	overflow: auto;
}

#header {
	position:fixed;
	top:10px;
	left: 50px;
}

#content {
	// width:10000px;
	margin-top:150px;
	margin-left:50px;
}