<!DOCTYPE html>
<html>
<head>
	
	<title>Newsdaily</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="http://www.websnapr.com/js/websnapr.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>

